<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="tables" value="MDS_IMP_DATA_TEST,MDS_IMP_DATA_TESTDATA"/>
    <!--开启重复导入模式，开启后同一个解析器可以执行多次-->
    <add key="retest" value="true"/>
    <!--上传文件服务地址-->
    <add key="uploaduri" value="http://localhost:6946/UploadPage.aspx"/>
    <add key="scriptdownuri" value="http://10.211.55.18:8080/Platform_V6/platform/tdmFileDownLoadAction/download?id="/>
    <!--服务器上的上传目录地址-->
    <add key="deliverpath" value="E:\work\wuxi\svn\DataImport.WebSite\upload"/>
    <!--存储项目ID的字段名：不用动-->
    <add key="projectid_columnname" value="projectid"/>
    <!--0:走登录， 1：不走登录-->
    <add key="loginConfig" value="0"/>
    <!--数据文件主键列名称：将来那列叫什么这里需要改，会影响新建表，导入表，数据映射多处-->
    <add key="pk" value="时间"/>
    <!--是否开启模拟模式-->
    <add key="simulator" value="true"/>
    <!--直接脚本执行，不通过接收任务-->
    <add key="simulatormode" value="false"/>
    <!--用于强制指定客户端使用的字符集，解决Win XP上读Oracle乱码问题-->
    <add key="NLS_LANG" value="SIMPLIFIED CHINESE_CHINA.ZHS16GBK"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <!--<conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n"/>
     -->
        <conversionPattern value="%n[%-5level] [%date] [%thread] [%message]"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <!--连接数据库字符串-->
    <add connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=tmd)));Persist Security Info=True;User ID=import;Password=cape;" name="oracle"/>
 
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TdmWsServiceServiceSoapBinding">
          <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="10485760"/>
        </binding>
        <binding name="TdmToZkWebserviceServiceSoapBinding">
          <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="10485760"/>
        </binding>
        <binding name="TdmToMpmWebserviceServiceSoapBinding">
          <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="10485760"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--132.232.54.19-->
      <!--http://localhost:8080/mpm_v6_tdm_webservice/services/tdmWsService-->
      <endpoint address="http://localhost:8088/tdm/services/tdmWsService" binding="basicHttpBinding" bindingConfiguration="TdmWsServiceServiceSoapBinding" contract="TdmWsService.TdmWsService" name="TdmWsServicePort"/>
      <!--webservices 接口配置-->
      <endpoint address="http://localhost:8088/tdm/services/tdmToZkWebservice" binding="basicHttpBinding" bindingConfiguration="TdmToZkWebserviceServiceSoapBinding" contract="TdmToZkWebservice.TdmToZkWebservice" name="TdmToZkWebservicePort"/>
      <endpoint address="http://localhost:8088/tdm/services/tdmToMpmWebservice" binding="basicHttpBinding" bindingConfiguration="TdmToMpmWebserviceServiceSoapBinding" contract="TdmToMpmWebservice.TdmToMpmWebservice" name="TdmToMpmWebservicePort"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2072576000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600000"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>