<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TdmWsServiceServiceSoapBinding"/>
                <binding name="TdmToZkWebserviceServiceSoapBinding"/>
                <binding name="TdmToMpmWebserviceServiceSoapBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/mpm_v6_tdm_webservice/services/tdmWsService" binding="basicHttpBinding" bindingConfiguration="TdmWsServiceServiceSoapBinding" contract="TdmWsService.TdmWsService" name="TdmWsServicePort"/>
            <endpoint address="http://132.232.54.19:8085/tdm/services/tdmToZkWebservice" binding="basicHttpBinding" bindingConfiguration="TdmToZkWebserviceServiceSoapBinding" contract="TdmToZkWebservice.TdmToZkWebservice" name="TdmToZkWebservicePort"/>
            <endpoint address="http://132.232.54.19:8085/tdm/services/tdmToMpmWebservice" binding="basicHttpBinding" bindingConfiguration="TdmToMpmWebserviceServiceSoapBinding" contract="TdmToMpmWebservice.TdmToMpmWebservice" name="TdmToMpmWebservicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
