<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add connectionString="Data Source=ORCL2;Persist Security Info=True;User ID=import;Password=sa" name="oracle"/>
  </connectionStrings>
  <appSettings> 
    <add key="uploaduri" value="http://localhost:6946/UploadPage.aspx"/>
    <add key="projectid_columnname" value="projectid"/> 
  </appSettings>
</configuration>
